# Comment
tempfile.txt

.DS_Store
*.zip
*.gz
log/*.log
log/*.log.[0-9]
assets/photoshop/
assets/videos/
!assets/videos/tour_*.mp4 #tour_ any characters followed by .mp4

# question: would log/archive/access.log be ignored? No. the * wildcard character doesn't include folders, it only captures all 
# characters of file names.